@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f0generic";
	src:url(../fonts/f0generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f2generic";
	src:url(../fonts/f2generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f1generic";
	src:url(../fonts/f1generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f3generic";
	src:url(../fonts/f3generic.otf) format("opentype");
}

@font-face {
	font-style:normal;
	font-weight:normal;
	font-family:"f4generic";
	src:url(../fonts/f4generic.otf) format("opentype");
}

