:root{
  --link: var(--main); 
  --main:#101820FF;
  --bg:#FEE715FF;
  --hover: #f00; 

  --min-size:99vmin;
  --size:150vmin;
  --ratio: 1 / 1.1; 
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg);
  font-family: tahoma;
  color: var(--main);
}

a{
  text-decoration: none;
  color: var(--main);
}
 

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  padding: 40px 0;
}

.container{
  width: calc(var(--size) * var(--ratio)); 
  margin: 0 auto;
}

header.container{
  max-width: 750px;
}

@media screen and (max-width: 1024px) { 
  .container{
      width: calc(var(--min-size) * var(--ratio));
  }
}

.logo{
  width: 150px;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  text-align: center;
  border: 3px solid var(--main);
  color: var(--main);
  font-size: 1.6rem; 
  font-weight: bold;
  letter-spacing: 2.5px;
  transition: all .2s;
}
.logo:hover{
  background-color: var(--main);
  color: var(--bg);
}

nav{
  display: flex;
}

nav{
  display: inline-flex;
  color: var(--main);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase; 
  padding: 5px 10px;
  transition: all 300ms ease-in-out;
  margin-right: 10px;
  gap: 10px;
}

nav a:hover{
  color: var(--hover);
}

.intro{
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 1rem; 
  font-weight: bold;
}

.intro p{
  max-width: 750px; 
  text-align: center;
  margin-inline: auto;
}

.intro-title{
  color: var(--main);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold; 
  margin-top: 3vmin; 
  margin-bottom: 35px; 
}


.btn{ 
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid var(--main);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.btn:hover{
  background-color: var(--main);
  color: var(--bg);
}

.controls{
  display: flex; 
  gap: 30px; 
  justify-content: center;
}